name: Conventional Commits Check

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

permissions:
  contents: read
  pull-requests: write

jobs:
  validate-pr-title:
    runs-on: ubuntu-22.04
    steps:
      - name: Enable egress filtering
        uses: bullfrogsec/bullfrog@dabf76d162f4dcab6cff8fd80621aefebef86ede
        with:
          egress-policy: block

      - name: PR Conventional Commit Validation
        uses: ytanikin/PRConventionalCommits@b628c5a234cc32513014b7bfdd1e47b532124d98 # v1.3.0

        with:
          task_types: '["feat","fix","docs","test","ci","refactor","perf","chore","revert"]'
          add_label: "true"
