name: Conventional Commits Check

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

permissions:
  contents: read
  pull-requests: write

jobs:
  validate-pr-title:
    runs-on: ubuntu-22.04
    steps:
      - name: Enable egress filtering
        uses: bullfrogsec/bullfrog@78a54a1a4c3d3325fe01846f60b630b6ee7bcf06 # v0.9.3
        with:
          egress-policy: block
          api-token: ${{ secrets.BULLFROG_API_TOKEN }}
          allowed-domains: |
            api.github.com

      - name: PR Conventional Commit Validation
        uses: ytanikin/PRConventionalCommits@b628c5a234cc32513014b7bfdd1e47b532124d98 # v1.3.0

        with:
          task_types: '["feat","fix","docs","test","ci","refactor","perf","chore","revert"]'
          add_label: "true"
